# /etc/network/interfaces.d/vif.conf

# Installez le paquet "ifupdown" (les scripts ne sont pas prévus pour
# fonctionner avec Netplan).

# Penser à ajouter "source /etc/network/interfaces.d/*.conf" à la fin du
# fichier "/etc/network/interfaces"

# L'activation et la désactivation des interfaces virtuelles contrôlent
# le démon Ucarp et les services qui en dépendent (via vif_pre/post).

# Remplacer "ens10" par le nom de l'interface virtuelle IPv4.

# La commande "up" est lancée en arrière plan pour ne pas bloquer
# l'interface statique.

# Interface virtuelle sur le même réseau que l'interface statique
# auto ens3:vif
#  iface ens3:vif inet manual
#  up     /usr/local/ssds_ha/vif_up &
#  down   /usr/local/ssds_ha/vif_down

# Interface virtuelle sur un réseau différent de l'interface statique
# auto ens10
#  iface ens10 inet manual
#  up     /usr/local/ssds_ha/vif_up &
#  down   /usr/local/ssds_ha/vif_down
